@model EntityLayer.Concrete.Image

@{
    ViewData["Title"] = "AddImage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Yeni Görsel Ekleme</h4>
        <form method="post" class="forms-sample">
            <div class="form-group">
                <label for="Title">Başlık</label>
                <span asp-validation-for="Title" class="text-danger"></span>
                <input type="text" class="form-control" asp-for="Title">
            </div>
            <div class="form-group">
                <label for="Image">Görsel Yolu</label>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                <input type="text" class="form-control" asp-for="ImageUrl">
            </div>
            <div class="form-group">
                <label for="Image">Açıklama</label>
                <span asp-validation-for="Description" class="text-danger"></span>
                <input type="text" class="form-control" asp-for="Description">
            </div>

            <button type="submit" class="btn btn-outline-success me-3">Değişiklikleri Kaydet</button>
            <a href="/Image/Index" class="btn btn-outline-primary">Görsel Listesi</a>
        </form>
    </div>
</div>
</div>
